.KSlide_impactType .axis text {
  font: 10px sans-serif;
}



.KSlide_impactType .axis path,
.KSlide_impactType .axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.KSlide_impactType .bar {
  fill: steelblue;
  fill-opacity: .9;
}

.KSlide_impactType .bar:hover {
  fill: brown;
}


.KSlide_impactType .x.axis path {
  display: none;
}

.KSlide_impactType label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.KSlide_impactType .detail{
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.KSlide_impactType .stat{
    margin-top: 10px;
}