.KSlide_credits{
    text-align: center;
}

.KSlide_credits .entries{
    height: 100%;
    overflow-y: hidden;
    padding: 500px 0 800px 0;
}

.KSlide_credits .entries .entry{
    margin-top: 5px;
    margin-bottom: 5px;
}

.KSlide_credits .entries .entry .avatar{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}

.KSlide_credits .entries .entry .avatar-left{
    margin-right: 10px;
}

.KSlide_credits .entries .entry .avatar-right{
    margin-left: 10px;
}

.KSlide_credits .entries .entry .name{
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    width: 20%;
}

.KSlide_credits .entries .entry .avatar img{
    width: 50px;
    height: 50px;
}
