.KSlide_Credits{
    text-align: center;
}

.KSlide_Credits .title{
    margin-top: 5px;
    margin-bottom: 20px;
}

.KSlide_Credits .entries{
    height: 400px;
    overflow-y: hidden;
}

.KSlide_Credits .entries .entry{
    margin-top: 5px;
    margin-bottom: 5px;
}

.KSlide_Credits .entries .entry .avatar{
    display: inline-block;
    vertical-align: middle;
}

.KSlide_Credits .entries .entry .avatar.left{
    margin-right: 5px;
}

.KSlide_Credits .entries .entry .avatar.right{
    margin-left: 5px;
}

.KSlide_Credits .entries .entry .avatar img{
    width: 50px;
    height: 50px;
}

.KSlide_Credits .entries .entry .name{
    display: inline-block;
}
