.KSlide_feature{
 
}

.KSlide_feature .feature{
    height: 400px;
    margin-top: 20px;   
    margin-left:auto;
    margin-right:auto;
    width: 90%;
}

.KSlide_feature .feature-statement{
    display:inline-block;
    margin-top: 20px;
    font-size: 2.5em;
    width: 60%;
}

.KSlide_feature .feature-count{
    vertical-align: top;
    margin-left: 5%;
    font-size: 9em;
    display:inline-block;
    width: 30%;
}

.KSlide_feature .images{
    margin-top: 20px;   
    margin-left:auto;
    margin-right:auto;
    width: 90%;
}

.KSlide_feature .images img{
    max-height: 200px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #fff;
}

